/*
#2EFF5A
#2FE62E
#8CE31E
#D8FF17
#67FA2D
*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');
body{
    margin:0;
    background-color: #3cffaa;
}
p{
    text-indent: 16px;
    margin-left: 10px;
}

header {
    font-family:sans-serif;
    background-image: linear-gradient(to bottom , rgb(5,133,40), rgb(3, 61, 25));
    color:white;
    margin-bottom:0;
    margin-top:0;
    box-shadow: inset -2px -2px 0px 0px black;
}
header > p{
    font-size:22px;
}

header > h1{
    text-align:center;
    margin-top:0;
    
}

nav{
    padding: 1px;
}

nav > a{
    text-decoration:none;
    color:white;
    margin-right:20px;
    font-weight:bold;
}
nav > a:hover{
    text-decoration: underline;
    color: rgb(0, 10, 68);
    font-size: 18px;
}

main{
    background-color:#ffffff ;
    margin-top:0;
    margin-left:200px;
    margin-right:200px;
}

h1#maintitle{
    margin-top:0;
    font-family:fantasy;
    color:#048004e0;
    padding-left: 15px;
    font-size: 40px;
}

h2{
    background-image: linear-gradient(to right, rgba(186, 252, 208, 0.94),rgb(213, 225, 216));
    color:#048004e0;
    margin-left: 10px;
}

#primeiraimg{
    display:block;
    margin:auto;
    width: 920px;
}
aside{
    margin-left: 0;
}

#segundaimg{
    margin:10px 7px;
    width:929px;
    height:300px;
}

.margemp{
    margin:2px;
}

#terceiraimg{
    display: block;
    margin:auto;
}

#video{
    background-color: rgb(0, 73, 0);
    height:500px;
}
#video > iframe{
    margin: 10px 30px;
    height: 480px;
    width: 900px;
    
}

#lastarticle{
    margin: 20px;
    background-color:#9bf0cb ;
    border-radius:12px 12px 12px 12px;
    box-shadow: 1px 1px 1px 2px rgb(70, 68, 68);
}

#lastarticle > h3{
    background-color: rgb(4, 169, 4);
    border-radius: 12px 12px 0px 0px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 8px;
    color:white;
}

#despedida{
    margin:10px;
    padding-bottom: 20px;
}

footer{
    margin:0;
    background-color: black;
    font-size: 21px;
    font-weight: bolder;
    color: white;
    padding:2px;
    text-align:center;
}

footer > p{
    margin: 10px;
}
td{
    float:left;
    width: 200px;
    margin-right: 150px;
}
